---
layout: default
---

{% for post in paginator.posts %}
    <h3>
      <small>
        <i class="fa fa-calendar"></i>&nbsp; {{ post.date | date: "%b %d, %Y" }}
      </small>
    </h3>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>

    <article>
    {{ post.excerpt }}
    </article>

    <a href="{{ post.url }}#more" class="btn btn-default btn-lg">Read on&nbsp;&nbsp;<i class="fa fa-long-arrow-right"></i></a>

    <div class="clearfix divider"></div>
{% endfor %}



{% if paginator.total_pages > 1 %}
    <nav>
      <ul class="pager">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
        <li class="previous"><a href="/">&larr; Newer</a></li>
    {% else %}
        <li class="previous"><a href="/page{{paginator.previous_page}}/">&larr; Newer</a></li>
    {% endif %}
  {% else %}
        <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  {% endif %}

        <li>Page {{ paginator.page }} of {{ paginator.total_pages }}</li>

  {% if paginator.next_page %}
        <li class="next"><a href="/page{{paginator.next_page}}/">Older &rarr;</a></li>
  {% else %}
        <li class="next disabled"><a href="#">Older &rarr;</a></li>
  {% endif %}
      </ul>
    </nav>
{% endif %}