---
layout: default
title: Ha Duy Trung | Blog
summary: Tips and tricks, useful patterns and implementations for Android
---

{% for post in paginator.posts %}

    <article>

      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <h3>
        <small>
          <i class="fa fa-calendar"></i>&nbsp; {{ post.date | date: "%b %d, %Y" }}
          <br/>
          <i class="fa fa-tags"></i>&nbsp;
          {% for tag in post.tags %}
          <a href="/tags/{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </small>
      </h3>

      {{ post.content }}

      <a href="{{ post.url }}#disqus_thread"><i class="fa fa-comments fa-2x"></i> Comments</a>
      <div class="addthis_sharing_toolbox pull-right"></div>

    </article>
    <div class="clearfix divider"></div>
{% endfor %}



{% if paginator.total_pages > 1 %}
    <nav>
      <ul class="pager">
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
        <li class="previous"><a href="/">&larr; Newer</a></li>
    {% else %}
        <li class="previous"><a href="/page{{paginator.previous_page}}/">&larr; Newer</a></li>
    {% endif %}
  {% else %}
        <li class="previous disabled"><a href="#">&larr; Newer</a></li>
  {% endif %}

        <li>Page {{ paginator.page }} of {{ paginator.total_pages }}</li>

  {% if paginator.next_page %}
        <li class="next"><a href="/page{{paginator.next_page}}/">Older &rarr;</a></li>
  {% else %}
        <li class="next disabled"><a href="#">Older &rarr;</a></li>
  {% endif %}
      </ul>
    </nav>
{% endif %}