@import 'color_default';

$colorPrimary: #FFF;
$colorPrimaryHighlight: #ECEFF1;
$colorDivider: #EEE;
$colorShadow: #999;
$textColorEmphasis: #000;
$textColorPrimary: #607D8B;
$textColorSecondary: #777;
$textColorInverse: #FFF;
$textColorLink: #337ab7;
$textColorLinkHover: #23527c;

$brandColorGithub: #333333;
$brandColorLinkedIn: #0077B5;

@import 'pygments_github';