$background: inherit;
$colorPrimary: inherit;
$colorPrimaryHighlight: inherit;
$colorDivider: inherit;
$colorShadow: inherit;
$textColorEmphasis: inherit;
$textColorTertiary: inherit;
$textColorPrimary: inherit;
$textColorSecondary: inherit;
$textColorInverse: inherit;
$textColorLink: inherit;
$textColorLinkHover: inherit;

$brandColorGithub: inherit;
$brandColorLinkedIn: inherit;
$brandColorTwitter: #55acee;
$brandColorStackOverflow: #fe7a15;
$brandColorRss: #f26522;
$brandColorFacebook: #3b5998;
$brandColorPocket: #ef4056;
$brandColorGooglePlus: #dc4e41;
$brandColorHackerNews: #ff6600;
$brandColorReddit: #5f99cf;

$calloutDefault: #777;
$calloutInfo: #5bc0de;
$calloutPrimary: #428bca;
$calloutSuccess: #5cb85c;
$calloutDanger: #d9534f;
$calloutWarning: #f0ad4e;
